{% block content %}
{% load static %}

<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Logo e Nome (alinhados à esquerda) -->
      <a class="navbar-brand" href="{% url 'home_url' %}">
        <img src="{% static 'images/manage.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        Gerenciamento
      </a>
  
      {% if request.user.is_authenticated %}
      <!-- Nome de Usuário e Avatar (alinhados à direita) -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{% url 'update_user_url' %}">
            <span class="navbar-text pr-3">
              {{ request.user.name }}
            </span>
          </a>
        </li>
        <li class="nav-item">
          <img src="{% static 'images/avatar_anon.png' %}" width="30" height="30" alt="Avatar" class="rounded-circle">
        </li>
        <li class="nav-item">
          <a href="{% url 'logout_url' %}">Logout</a>
        </li>
      </ul>

      {% else %}
      <a href="{% url 'login_url' %}">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <span class="navbar-text pr-3">
              Login
            </span>
          </li>
          <li class="nav-item">
            <img src="{% static 'avatar_anon.png' %}" width="30" height="30" alt="Avatar" class="rounded-circle">
          </li>
        </ul>      
      </a>

      {% endif %}
      

    </div>
  </nav>
  
</div>
{% endblock %}