{% extends 'main.html' %}

{% block content %}
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

            <div class="d-flex align-items-center justify-content-start mb-4">
              <a href="{{request.META.HTTP_REFERER}}" class="btn btn-back">
                <i class="fas fa-arrow-left"></i>
              </a>
              <h2 class="card-title mb-0 mx-auto">Editar Usuário</h2>
            </div>

            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock content %}
